@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --container-size: 1200px;
  }
}

@layer utilities {
  .slide-center {
    transform: translateX(
      calc(
        max(var(--container-size), 100vw) / 2 - calc(var(--container-size) / 2)
      )
    );
  }
  .ease-custom {
    transition-timing-function: cubic-bezier(0, 0, 0.5, 1);
  }
}

@keyframes scroll {
  0% {
    transform: translate3d(0%, 0%, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

@layer utilities {
  .clip-video {
    clip-path: inset(10% 0 10% 0);
  }
}
.search-button {
  color: #393939;
  transition: color 0.3s ease;
  cursor: pointer;
}

.search-button:hover,
.search-button.active {
  color: #ffcc00;
}

.scrolling-text {
  display: flex;
  white-space: nowrap;
  animation: scroll 35s linear infinite;
  transition: animation-play-state ease-in-out;
}

.screen-max-width {
  margin-inline-start: auto;
  margin-inline-end: auto;
  position: relative;
  max-width: 1120px;
}

.custom-grid-title {
  display: grid;
  grid-template-columns: repeat(5, 150px);
  position: absolute;
  text-align: center;
  transform: translateY(8px);
}

.custom-grid-des {
  display: grid;
  grid-template-columns: repeat(5, 170px);
  position: absolute;
  text-align: center;
  margin-top: 0px;
  transform: translateY(490px);
}

.text-shift-down-12 {
  transform: translateY(45px);
  opacity: 0;
}

.text-shift-down-SE {
  transform: translateY(40px);
  opacity: 0;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.hoverable-text {
  color: #6e6e73;
  transform: scale(1);
  font-weight: 400;
  transition: color 0.3s ease, transform 0.3s ease, font-weight 0.3s ease;
}

.hoverable-text:hover {
  color: #1d1d1f;
  transform: scale(1.1);
  font-weight: 500;
}
